/*
=====================================
body
======================================
*/

.wrapper {
  max-width: 1000px;
  min-height: 1000px;
  margin: auto;
  background-image: url(assets/pow-star.png);
  padding: 20px 50px;
}

/*
=====================================
Typography
======================================
*/
h1 {
  font: 42px/80px 'Source Sans Pro', sans-serif;
  color: #6F9693;
  padding-left: 10px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #6F9693;
  padding-left: 10px;
}

p {
  font: 300 16px 'Source Sans Pro', sans-serif;
  padding-left: 10px;
}

ul {
  font: 300 16px 'Source Sans Pro', sans-serif;
  list-style-type: disc;
  list-style-image: url(assets/wave-icon.png);
}

/*
========================================
Primary header
========================================
*/

.logo {
  background-color: #FFF;
  min-width: 410px;
  height: 80px;
}

/*
========================================
Navigation
========================================
*/
.primary-nav {
  padding-bottom: 10px;
  float: right;
}
.primary-nav li {
  list-style-type: none;
  display: inline-block;
}

.nav-links li:first-child {
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-left: 10px;
}


/*
========================================
Links
========================================
*/
a:link {
  color: #517175;
  text-decoration: none;
}
a:visited {
  color: #D98255;
}

a:hover {
  color: #A0DFE8;
}

a:active {
  color: #D98255;
}

/*
========================================
Primary footer
========================================
*/
.footer-text {
  font-size: 14px;
  display: block;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

/*
========================================
index.html
========================================
*/

.about {
  clear: both;
}

.main-photo {
  width: 60%;
  margin: auto;
}

.favorite li {
  padding: 5px 0;
}

.main-photo img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}

.favorite-things {
  color: #D98255;
}


/*
========================================
future.html
========================================
*/

.future-text {
 float: left;
 width: 40%;
 margin: 0 0 0 15px;

}

.future-photo {
  width: 50%;
}

.future-photo img {
 float: left;
 width: 100%;
 border-radius: 10px;
 margin: 0 15px 0 0;
}

.boundary {
  clear: both;
}

.footer-text-left p {
  font-size: 14px;
}

/*
========================================
galvanize.html
========================================
*/

.giph {
  display: block;
  margin: auto;
  width: 50%;
}
